body {
    margin: 0;
    background-color: #1B244A;
}

.headingOne{
    color: white;
    font: Verdana;
    font-weight: bold;
    font-size: 40px;
    margin-left:9px
}

.headings{
    color: white;
    font: Verdana;
    font-weight: bold;
    font-size: 40px;
    margin-left: 1px
}

.scoreOne{
    display: flex;
    color: white;
    background-color: #080001;
    height: 155px;
    width: 140px;
    justify-content: center;
}

.scoreFirst{
    display: flex;
    color: #F94F6D;
    margin: auto;
    font-family: 'Orbitron', sans-serif;
    font-size: 90px;
}

.container {
    display: flex;
    justify-content: space-around;
}
.column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.innerScoreOne{
    display: flex;
    margin: auto;
    font-family: 'Orbitron', sans-serif; 
    font-size: 18px;
    color: #9AABD8;
    border:#9AABD8 solid;
    border-width: px 1px;
    height: 45px;
    width: 37px;
    left: 82px;
    top: 271px;
    border-radius: 5px;
    margin-top:27px;
    
}

.innerScoreInnerOne{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    margin: auto;
    background-color: #1B244A;
    cursor: pointer;
    border: none;
    color: #9AABD8;

}

.won{
    display: flex;
    color: #F94F6D;
    margin-left: 50px;
    font-size: 20px;
    margin-top: 30px;
}